.product-detail__order-actions {
  width: 100%;
  padding-top: 50px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, min(100px, 1fr));
  grid-column-gap: 20px;
  grid-row-gap: 15px;

  @include breakpoint-mf('xs') {
    grid-template-rows: repeat(2, min(100px, 1fr));
  }

  @include breakpoint-mf('xl') {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 10px;
  }
}

//------PRICE----------------------------------------

.product-detail__price-wrap {
  @include flex(column-reverse, flex-start, flex-start);
  grid-area: 1 / 1 / 2 / 2;

  @include breakpoint-mf('xl') {
    @include margin(0, 0);
  }
}

.product-detail__price-wrap > .product-detail__price {
  align-self: unset;
}

.product-detail__price {
  @include fonts(400, 25px, 30px);
  color: $primary;
  text-align: left;
  grid-area: 1 / 1 / 2 / 2;
  align-self: flex-end;

  @include breakpoint-mf('md') {
    @include fonts(400, 40px, 50px);
  }

  &-current {
    color: #f84147;
  }

  &-previous {
    @include fonts(400, 14px, 24px);
    text-decoration: line-through;
    color: $primary;
  }
}

//------ADD BUTTON----------------------------------------

.order-actions__add-btn {
  padding: 10px 13px;
  color: $primaryLight;
  border: 2px solid $primaryLight;
  background-color: $secondaryLight;
  @include fonts(400, 12px, 18px);
  cursor: pointer;
  grid-area: 1 / 2 / 2 / 3;
  width: fit-content;
  height: fit-content;
  justify-self: flex-end;
  align-self: flex-end;

  @include breakpoint-mf('sm') {
    padding: 13px 15px;
    @include fonts(400, 20px, 30px);
  }

  @include breakpoint-mf('lg') {
    padding: 14px 16px;
    @include fonts(400, 15px, 17px);
    background-color: $primaryDark;
    border-color: $primaryDark;
    color: $white;
  }

  @include breakpoint-mf('xl') {
    padding: 14px 20px;

  }

  &:hover {
    background-color: darken($primaryDark, 5%);
    color: $white;
  }
}

//------COLOR----------------------------------------

.product-detail__color-wrap {
  grid-area: 2 / 1 / 3 / 3;

  @include breakpoint-mf('xs') {
    grid-area: 2 / 1 / 3 / 2;
  }
}

.product-detail__color-list {
  @include flex(row, flex-start, center);
  padding-left: 3px;
  gap: 20px;
  flex-wrap: wrap;
}

.product-detail__color-list-item {
  position: relative;
  display: block;
  height: 32px;
  width: 32px;
  border: 1px solid $primary;
  border-radius: 100%;

  &--active{
    &::before {
      content: "";
      display: block;
      position: absolute;
      top: -4px;
      left: -4px;
      width: 38px;
      height: 38px;
      border: 1px solid green;
      border-radius: 100%;
    }
  }
}

//------QUANTITY------------------------------------------

.order-actions__quantity-wrap {
  @include flex(row, start, center);
  gap: 10px;
  grid-area: 3 / 1 / 4 / 3;
  height: fit-content;
  align-self: flex-end;

  @include breakpoint-mf('xs') {
    grid-area: 2 / 2 / 3 / 3;
    justify-self: flex-end;
  }

  @include breakpoint-mf('sm') {
    @include margin(25px, 25px);
    gap: 15px;
  }

  @include breakpoint-mf('lg') {
    @include margin(0, 0);
  }

  @include breakpoint-mf('xl') {
    justify-self: flex-end;
  }
}

.order-actions__quantity-item {
  border: none;
  text-align: center;
  width: 35px;
  height: 35px;
  background-color: $secondaryLight;
  color: $primaryLight;
  @include fonts(400, 20px, 35px);

  @include breakpoint-mf('sm') {
    width: 55px;
    height: 55px;
    @include fonts(400, 30px, 55px);
  }
}

.order-actions__decrease-btn,
.order-actions__increase-btn {
  cursor: pointer;
  &:hover {
    background-color: darken($secondaryLight, 5%);
  }
}
