@import "../../styles/style.scss";

.topItems {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  border-radius: 5px;

  &_img {
    position: relative;
    margin-top: 100px;
    top: -80px;
    right: -610px;
    width: 520px;
    height: 326px;
    border-radius: 15px;
  }

  &_btn {
    position: absolute;
    margin-left: 70px;
    border: 1px #211F1C;
    color: #fff;
    outline: none;
    background-color: #211F1C;
    font-family: Roboto;
    top: 300px;
    width: 169px;
    height: 52px;
    font-size: 20px;
  }

  &_title {
    position: absolute;
    top: 30px;
    font-family: Leto;
    font-size: 60px;
    margin-left: 70px;
    color: #393D45;
  }

  &_text {
    position: absolute;
    top: 110px;
    color: #616467;
    font-family: Roboto;
    font-weight: 400;
    font-size: 22px;
    margin: 70px 0px 0px 70px;
  }

  &_subtext {
    position: absolute;
    top: 140px;
    color: #616467;
    font-family: Roboto;
    font-weight: 400;
    font-size: 22px;
    margin: 70px 0px 0px 70px;
  }
}

