//кольори
$headerColor: #F8F8F8;
$bodyColor: #FFFFFF;
$footerColor: #484543;
$titleColor: #393D45;
$textColor: #616467;

$darkButtonColor: #211F1C;

$tableRowColor: #F1F1F1;
$tableTitleColor: #000000;
$tableTextColor: #334756;


$inputColor: #F5F7FB;
$burgerLineColor: #F4F4F4;




