@import "./mixins.scss";
@import "./constants.scss";

body {
	margin: 0;
	font-family: 'Lato', 'Roboto', sans-serif;
}

.container {
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
}

.section-title{
@include fonts(700, 22px, 26px);
color: $primary;
text-align: center;
}