@import "../../styles/style.scss";

.navigation-block {
   width: 90%;
   margin: 0 auto;
   margin-top: 30px;
   display: flex;
   align-items: center;
   justify-content: flex-start;
   box-shadow: 0px 6px 10px 0px #00000040;
   gap: 5px;

   @include breakpoint-mf('xs') {
      gap: 8px;
   }

   @include breakpoint-mf('md') {
      border-radius: 5px;
      gap: 13px;

   }

   @include breakpoint-mf('xl') {
      width: 100%;
      gap: 17px;
   }

   &__link {
      padding: 16px 0 16px 13px;
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      color: $primary;

      @include breakpoint-mf('xs') {
         font-size: 18px;
         padding: 13px 0 13px 20px;
      }

      @include breakpoint-mf('md') {
         font-size: 20px;
         line-height: 24px;
         padding: 15px 0 15px 43px;
      }

      @include breakpoint-mf('xl') {

         padding: 16px 0 16px 43px;
      }
   }

   &__back-btn {
      background-color: transparent;
      border: none;
      font-size: 16px;
      line-height: 19px;
      margin-left: 5px;
      transition: transform .7s ease;

      @include breakpoint-mf('md') {
         margin-top: 2px;
      }

      &::before {
         content: '◄';
         padding-right: 3px;
         color: $primary;
         border: solid 2px $primary;
         border-radius: 50%;
         width: 3px;
         height: 3px;
      }

   }
}