.users-cabinet {
  padding-top: 10px;
  padding-bottom: 50px;
  .section-title {
    margin-bottom: 10px;
  }
}

.users-cabinet__logout-btn {
  margin-top: 10px;
  background-color: red;
  &:hover {
    background-color: darken(red, $amount: 10%);
  }
}
