.login-section {
  height: 100vh;
  @include flex(column, center);
}
.login-section__title {
  color: $loginRegisterTitleColor;
  text-align: center;
  margin: 0;
}
.login-section__form {
  @include flex(column, center);
  align-items: center;
  width: 255px;
  gap: 30px;
}
.login-section__form-input {
}
.login-section__form-submit-btn {
}
.login-section__message {
}
