.comments__item-header {
  @include flex(row, flex-start, center);
  margin-bottom: 16px;
}

.comments__item-name {
  margin-left: 16px;
  margin-right: 16px;
  font-weight: 500;
}

.comments__active-user {
  margin-right: 16px;
  background: $primary;
  border-radius: 8px;
  color: $white;
  padding: 5px 10px;
}

.comments__item-date {
  font-size: 14px;
  color: $primaryLight;

  @include breakpoint-mf('sm') {
    @include fonts(400, 18px, 30px);
  }
}

.comments__item-content {
  text-align: left;
  margin-bottom: 16px;
}

.comments__edited-comment {
  width: 100%;
  height: 100px;
  resize: vertical;
  border-radius: 8px;
  padding: 12px 24px;
  border: 2px solid $secondary;

  &:focus,
  &:focus-visible {
    border: 2px solid $primaryLight;
    outline: unset;
  }
}

.comments__editing-length-counter{

}

.comments__actions {
  @include flex(row, flex-end, center);
  gap: 16px;
}

.comments__action-btn {
  border-radius: 8px;

  &--confirm {
    display: block;
    margin-left: auto;
  }
}