.comments__item-header {
  border-bottom:1px solid $secondary ;
}

.comments__item-title {
  margin: 0;
}

.comments__item-date {
  text-align: left;
}

.comments__item-content {
  text-align: left;
}