.comments__item-header {
  @include flex(row, flex-start, center);
  margin-bottom: 16px;
}

.comments__item-avatar {}

.comments__item-name {
  margin: 0 16px;
  font-weight: 500;
}

.comments__item-date {
  font-size: 14px;
  color: $primaryLight;

  @include breakpoint-mf('sm') {
    @include fonts(400, 18px, 30px);
  }
}

.comments__item-content {
  text-align: left;
}